global:
  appName: myApp
  environment: prod-d1

postgresql:
  enable: true

  imageName: ghcr.io/cloudnative-pg/postgresql:18.1@sha256:b53c340d52ae3c5e980147b2dee775e5a569ad2d4a4447a629bfc9bf048c7768

  instances: 2

  databaseName: ""
  ownerName: ""

  postInitSQL: []

  storageSize: 450Mi
  walStorageSize: 1Gi
  
  backupSchedule: "0 0 * * *"

  ingresses: []

# ingresses:
#   - nameSuffix: ""
#     serviceName: ""
#     portName: ""