global:
  appName: myApp
  environment: prod-d1
  defaultSecretEnabled: false

postgresql:
  enable: true

  imageName: ghcr.io/cloudnative-pg/postgresql:18.1@sha256:cc78f0c280978dd93fa6f49ce6cef60015cf4b56fd0e6a47c8ca49020b875f74

  instances: 2

  databaseName: ""
  ownerName: ""

  postInitSQL: []

  storageSize: 450Mi
  walStorageSize: 1Gi
  
  backupSchedule: "0 0 * * *"

ingresses: []
#   - nameSuffix: ""
#     serviceName: ""
#     portName: ""

services: []
# - nameSuffix: ""
#   portName: ""
#   port: 5302
