global:
  appName: myApp
  environment: prod-d1
  defaultSecretEnabled: false

postgresql:
  enable: true

  imageName: ghcr.io/cloudnative-pg/postgresql:18.1@sha256:2762d1dd965e3c84004f08d5a97526cd8b5395026bc3a1d804d84ffcfa83caa5

  instances: 2

  databaseName: ""
  ownerName: ""

  postInitSQL: []

  storageSize: 450Mi
  walStorageSize: 1Gi
  
  backupSchedule: "0 0 * * *"

ingresses: []
#   - nameSuffix: ""
#     serviceName: ""
#     portName: ""

services: []
# - nameSuffix: ""
#   portName: ""
#   port: 5302
